.App {
  text-align: center;
  padding-top: 3rem;
  justify-content: center;
  padding-bottom: 0.3rem;
}

:root{
  --brown: #4c5036;
  --black: #121212;

}
.box{
  height: 10vh;
  padding-top: 3rem;
  justify-content: center;
  border: 1px solid #121212;


}